.cardPacienteUL{
        list-style-type: none;
        margin: 0;
        display: flex;
justify-content: space-evenly;
      
}
.cardPacienteLI{
max-width: 400px;
min-width: 300px;
max-height: 300px;
padding: 20px;
background-color: var(--green-dark);
text-align: center;
color: #fff;
margin: 10px;
border-radius: 25px;
}
.cardPacienteH2{
    color: var(--grey-lighter);
}
.cardPacientediv{
    background-color: var(--green-dark);
}