.create {
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.5px solid var(--green-darker);
    background: transparent;
    color: var(--green-darker);
    font-size: 18px;  
    margin-left: 70px;
  }
  .create:hover {
    font-weight: 20px;
    box-shadow: 0 0 2px var(--green-darker);
  }
  .create:active
  {
    background-color: var(--green-light);
    color: var(--gray-darker);
    font-weight: 600;
    border: none;
  }
  