.create {
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.5px solid #081c15;
    background: transparent;
    color: #081c15;
    font-family: Inter;
    font-size: 18px;
  
    margin-left: 30px;
  }
  .create:hover {
    font-weight: 20px;
    box-shadow: 0 0 2px #081c15;
  }
  .create:active,
  .create:focus {
    background-color: #95d5b2;
    color: #f8f9fa;
    font-weight: 400;
    border: none;
  }
  