.containerLogin{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
 justify-content: center;
}
.container1Login{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
 justify-content: center;
 align-items: center;
   
}
.contentLogin{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.criarLogin{
    margin: 0;
    padding: 0;
    height: fit-content;

}
.imgLogin{
    height: 600px;
    margin-right: 20px;
    width:100%
}
