/* ToolbarComponent.css */
.header {
  background-color: var(--green-darker);
  color: var(--green-lighter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--green-dark);
  height: 150px;
}

.toolbarMargin {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  gap: 20px;
}
.tituloToolbar{
  margin-left: 300px;
}

.avatar {
  border-radius: 50%;
  width: 70px ;
  height: 70px ;
  background-color: var(--green-light); /* Opcional: definir uma cor de fundo para a imagem */
}