.header {
  background-color: var(--green-darker);
  color: var(--green-lighter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 400px;
  margin-left: 5px;
  box-shadow: 0 2px 4px var(--green-dark);
}
toolbarMargin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;

}
img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: var(--green-light);
}
